
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script>
    var max = 4;
    var x = 0;
    var y =0;
    $(document).ready(function(){
        
        var activitywrapper = (".activitywrapper");
        var servicewrapper = (".servicewrapper");
        var addActivity = (".addActivity");
        var addService = (".addService");
        
        $(addActivity).click(function(e){
            e.preventDefault();
            if(x<max){
                $(activitywrapper).append('<div><input type="text" name="activity[]" placeholder="activity" class="form-control"><a href="#" class="remove">Remove</a></div>');
                x++;
            }
        });
        $(activitywrapper).on("click",".remove", function(e){
               
            e.preventDefault(); 
            $(this).parent('div').remove(); 
            x--;
        });
        $(addService).click(function(e){
            e.preventDefault();
            if(y<max){
                $(servicewrapper).append('<div><input type="text" name="service[]" placeholder="service" class="form-control"><a href="#" class="remove">Remove</a></div>');
                y++;
            }
        });
        $(servicewrapper).on("click",".remove", function(e){
               
            e.preventDefault(); 
            $(this).parent('div').remove(); 
            y--;
        });
    });   
    
// comment time stamp                     
                        
</script>
</html>