<% include partials/header%>
<div class="container">
    <div class="row">
        <div class="col-md-12 comments">
                <div>
                    <form action="/campgrounds/<%=campground_id%>/comment/<%=comment._id%>?_method=PUT" method="POST" class="form-group d-flex">
                        <input type="text" name="comment[text]" value="<%=comment.text%>" class="form-control">
                        <button type="submit" class="btn btn-sm btn-primary ml-auto">post</button><a href="/campgrounds/<%=campground_id%>">cancle</a>
                    </form>
                </div>
        </div>
    </div>
</div>

<% include partials/footer%>
