<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/cf8d352907.js"></script>
        <link rel="stylesheet" href="stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    <div id="landing-header">
    <div class="container">
            
                    <h1>Welcome to Camp India!</h1>
                   <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
                   <div class="container" id="about">
                       <ul>
                           <li><h5><strong>Camp India</strong> is a one of the best service provider for online campgrounds booking. We are presnt pan India</h5></li>
                           <li><h5>Where user's can view the campgrounds located all over the world, user ratings and reviews make selection process much easier. user can make bookings</h5></li>
                           <li><h5>Only owner's / Service provider can post their campgrounds and they need to register as owner</h5></li>
                       </ul>
                   </div>
                   
               </div>
    </div>
    
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>