<% include partials/header%>

<!-- <form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <input type="submit">
</form> -->
<div class="container">
    <div class="text-center">
        <h1>Create new campgrounds</h1>
    </div>   
<div style="width: 30%; margin: 0 auto;">
<form action="/campgrounds" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input type="text" name="campground[name]" placeholder="name" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="text" name="campground[price]" placeholder="price / day" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="text" name="activity[]" placeholder="activity" class="form-control">
            <div class="activitywrapper"></div>
            <input type="button" value="Add More activities" class="addActivity" id="addActivity"><br>
            <p>Maximum 5 activities can be added</p>
        </div>
        <div class="form-group">
            <input type="text" name="service[]" placeholder="Service" class="form-control">
            <div class="servicewrapper"></div>
            <input type="button" value="Add More Services" class="addService" id="addService"><br>
            <p>Maximum 5 Services can be added</p>
        </div>
        <div class="form-group">   
            <label for="image">Image</label>
            <input type="file" id="image" name="image" accept="image/*" required class="form-control" required>
        </div>
        <div class="form-group">
            <textarea name="campground[description]" placeholder="description" class="form-control" required id="" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            Address :
            <div class="form-group">
             Select State :   
            <select name="address[state]" id="state" size="1">
                <option value="" selected="selected">Select State</option>
            </select>
            </div>
            <div class="form-group">
            Select District :
            <select name="address[district]" id="district" size="1"> 
                <option value="" selected="selected">Please select State first</option>
            </select>
            </div>
            <input type="text" name="address[address1]" placeholder="Address1" class="form-control" required>
            <input type="text" name="address[city]" placeholder="City" class="form-control" required>
            <input type="text" name="address[postalCode]" pattern="[0-9]{6}" title="Six digit postal code" placeholder="Postal Code" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="text" name="campground[addressUrl]" placeholder="EX-Google map location url" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="text" name="campground[contactNumber]" placeholder="Contact Number" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg" style="width: 100%; margin: 0 auto;">Submit</button>
      </form>
    </div>
    <div style="width: 30%; margin: 0 auto;">
        <hr>
    <a class="btn btn-dark btn-lg" href="/campgrounds">Back</a>
    </div>
</div>

<% include partials/footer%>