<% include partials/header%>

<div class="container">
    <div class="row">   
        <div class="col-md-8" id="form">
            <form action="/campgrounds" method="POST" enctype="multipart/form-data">
                <legend style="text-align: center">Create new campgrounds</legend>
                <div class="form-group">
                    <input type="text" name="campground[name]" placeholder="Campground Name" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="campground[price]" placeholder="price / day" class="form-control" required>
                </div>
        <div class="form-group">
            <input type="text" name="activity[]" placeholder="Additional Activity" class="form-control">
            <div class="activitywrapper"></div>
            <input class="btn btn-secondary addActivity" type="button" value="Add More activities"  id="addActivity"><br>
            <p>Maximum 5 activities can be added</p>
        </div>
        <div class="form-group">
            <input type="text" name="service[]" placeholder="Additional Service" class="form-control">
            <div class="servicewrapper"></div>
            <input class="btn btn-secondary addService" type="button" value="Add More Services"  id="addService"><br>
            <p>Maximum 5 Services can be added</p>
        </div>
        <div class="form-group">   
            <label class="btn btn-secondary custom-file-upload" for="file-upload">Choose Image *</label> 
            <input style="display:none" type="file" name="image" accept="image/*" id="file-upload" required>
        </div>
        
        <div class="form-group">
            <textarea name="campground[description]" placeholder="Description" class="form-control" required id="" cols="30" rows="5"></textarea>
        </div>
        <div class="form-group">
            <div class="form-group">
             <div class="input-group">
             <div class="input-group-prepend">
             <label class="input-group-text" for="state">Select State</label>
            </div>
            <select class="custom-select" name="address[state]" id="state" size="1">
                <option value="" selected="selected">Select State</option>
            </select>
            </div>
            </div>
            <div class="form-group">
            <div class="input-group">
            <div class="input-group-prepend">
            <label class="input-group-text" for="district">Select District</label>
            </div>
            <select class="custom-select" name="address[district]" id="district" size="1"> 
                <option value="" selected="selected">Please select State first</option>
            </select>
            </div>  
            </div>
            <input type="text" name="address[address1]" placeholder="Address1" class="form-control" required>
            <input type="text" name="address[city]" placeholder="City" class="form-control" required>
            <input type="text" name="address[postalCode]" pattern="[0-9]{6}" title="Six digit postal code" placeholder="Postal Code" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="text" name="campground[addressUrl]" placeholder="EX-Google map location url" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="text" name="campground[contactNumber]" placeholder="Contact Number" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-dark btn-lg btn-block">Submit</button>
      </form>
    
            <hr>
        <a class="btn btn-info btn-block" href="/campgrounds">Cancle</a>
    </div>
</div>
    
</div>

<% include partials/footer%>